* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-blue: #3498DB;
    --color-green: #48C9B0;
    --color-tanager-turquoise: #95DBE5FF;
    --color-teal-blue: #078282FF;
    --color-kelly-green: #339E66FF;
    /*--color-white: #fff;*/
    --color-white: #FCF6F5FF;
    --color-gray: #818181;
    --color-sky-blue: #89ABE3FF;
    /*--color-black: #333;*/
    /*--color-black: #000000FF;*/
    --color-black: #2A2B2DFF;
    --color-dark-gray:#888888;
    --color-yellow: #FFC552;
    --color-yellow-light: #ffed4b;
    --color-yellow-btn: #ffe593;
    --color-red: #F65058FF;
    --color-yellow2: #FBDE44FF;
    --color-navy: #28334AFF;
    --primary-color: var(--color-red);
    --secondary-color: var(--color-yellow2);
    --third-color: var(--color-navy);
  }

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(110deg, var(--primary-color) 60%, var(--secondary-color) 60%);
    /*background-color: var(--primary-color);*/
    padding-top: 2rem;
}

.home .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 80%;
    margin: 0 auto;
}

/**Text writer animation**/
.css-typing p {
    border-right: .15em solid var(--color-black);
    white-space: nowrap;
    overflow: hidden;
}
.css-typing p:nth-child(1) {
    width: 6em;
    font-size: 2.5em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
  
.css-typing p:nth-child(2) {
    width: 8em;
    font-size: 3em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
  
.css-typing p:nth-child(3) {
    width: 15em;
    font-size: 1.5em;
    opacity: 0;
    -webkit-animation: type3 1s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 1s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 800px) {
  .css-typing p:nth-child(1) {
    font-size: 2em;
  }
  
  .css-typing p:nth-child(2) {
    font-size: 2em;
  }
  
  .css-typing p:nth-child(3) {
    font-size: 1em;
  }
}
  
@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid var(--color-black);
    }
    100% {
      border: none;
    }
}
  
@-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid var(--color-black);
    }
    100% {
      border: none;
    }
}
  
@keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid var(--color-black);
    }
    100% {
      opacity: 1;
      border: none;
    }
}
  
@-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid var(--color-black);
    }
    100% {
      opacity: 1;
      border: none;
    }
}
  
@keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}
  
@-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}
  
@keyframes blink {
    50% {
      border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
}

/**SideBar**/
#menu {
  position: relative;
  font-size:30px;
  cursor:pointer;
  margin-left: 2.5rem;
  color: var(--third-color);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--third-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-gray);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: var(--color-white);
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*End menu*/

.skills {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.skill-card {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.05);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  margin: 10px;
}

@media screen and (max-width: 899px) {
  .skill-card {width: 100%;}
}

@media screen and (min-width: 900px) {
  .skill-card {flex: 0 1 calc(25% - 20px);}
}

.skill-card i {
  font-size: 4em;
  color: var(--primary-color);
}

ul{
  list-style-type: none;
}

.skill-card p {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.portfolio {
    display: block;
    width: 100%;
    background-color: var(--color-white);
    padding-bottom: 2rem;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    margin: 10px;
    display: flex;
    flex-flow: column;
    background-color: var(--color-white);
}

@media (max-width: 824px) {
    .card {
        flex: 0 1 calc(100% - 20px);
    }
}

@media (min-width: 825px) and (max-width: 949px) {
    .card {
        flex: 0 1 calc(49.5% - 20px);
    }
}

@media (min-width: 950px) {
    .card {
        flex: 0 1 calc(33% - 20px);
    }
}

a {
  text-decoration: none;
}

.contact {
  background-color: var(--primary-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  color: var(--secondary-color);
  text-align: center;
}

p {
  margin: 1rem;
  font-size: 1em;
}

.title {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 3rem;
}

.draw-border {
  box-shadow: inset 0 0 0 4px var(--secondary-color);
  color: var(--secondary-color);
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: var(--third-color);
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: var(--third-color);
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}

.btn:focus {
  outline: 2px dotted var(--primary-color);
}

.icons {
  margin-top: 2.5rem;
}
.icons a {
  font-size: 2em;
  margin: 0.5rem;
  color: var(--secondary-color)
}
.icons a:hover {
  color: var(--third-color)
}